{
  "discordClient": {
    "token": "token"
  },
  "defaults": {
    "channelsId": {
      "bienvenue": "0",
      "log": "0"
    },
    "groupsId": {
      "Joueur": "0",
      "Admin": "0"
    }
  },
  "prefix": "!"
}